.background {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #F9F9F9;
}

.header-div {
    display: flex;
    width: 100%;
    padding: 16.75px 0 17px 0;
    align-items: center;
    background: #FFFFFF;
    justify-content: center;
}

.header-text {
    width: 166px;
    height: 19px;
}

.base-layout-item-div {
    margin: 16px;
}

.nav-div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.fragment-layout-active {
    display: flex;
    justify-content: center;
    min-width: 61px;
    min-height: 24px;
    background: #FBC91B;
    border-radius: 12px;
    align-items: center;
}

.fragment-layout-inactive {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 59px;
    min-height: 24px;
    background: #F2F2F2;;
    border-radius: 12px;

}

.fragment-text {
    font-family: Open Sans;
    text-decoration: none !important;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    color: rgba(0, 0, 0, 0.82);
}

.fragment-unselected-text {
    font-family: Open Sans;
    text-decoration: none !important;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    color: rgba(0, 0, 0, 0.82);
}

.load-more-div {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.load-more-button {
    min-width: 328px !important;
    height: 48px;
    justify-content: center !important;
    border-radius: 12px !important;
    margin-left: 16px !important;
    margin-right: 16px !important;
    font-weight: bold !important;
    font-size: 16px !important;
    background-color: #FBC91B !important;
}

.footer-div {
    display: flex;
    margin-top: 16px;
    width: 100%;
    padding-top: 41px;
    padding-bottom: 41px;
    align-items: center;
    background: #FBC91B;
    justify-content: center;
}

.footer-text {
    width: 166px;
    height: 19px;
}
/*for screen size between then 360px width*/
@media (min-width: 361px) and (max-width: 600px) {
    .load-more-button {
        min-width: 328px !important;
    }
}

/*for screen size less then 360px width*/
@media only screen and (max-width: 360px) {
    .load-more-button {
        min-width: 290px !important;
    }
}
